ul, div {
    margin: 0px;
    padding: 0px;
}
ul li {
   list-style: none;
}

a {
    text-decoration: none;
    color: #777;
}

a:hover, .active > a {
    color: #8f7c47;
}

body {
    margin: 0 auto;
    font-family: georgia;
    width: 100%;
    min-width: 1024px;
    color: #545454;
    font-size: 12px;
    background: url('/public/images/bg/bg-dark.jpg');
}

#body-wrapper { 
    width: 1000px;
    margin: 0 auto;
}


#header {
    height: 190px;
    width: 1000px;
    margin: 0 auto;
}

#header-title {
    float: left;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -1px;
    width: 100%;
    padding: 30px 0px 0px 10px;
    margin: 0 auto;
}

#header-title-small {
    padding: 0px 0px 0px 10px;
    float: left;
    font-size: 14px;
    font-style: italic;
    width: 100%;
}

#main {
    width: 1000px;
    border: 1px;
    margin: 0 auto auto auto;
}

#main-wrapper {
    margin: 0 auto;
}


#navigation {
    float:left;
    width: 930px;
    margin-top:38px;
}

#navigation ul {
    
}



#navigation ul li {
    float: left;
    margin-right: 10px;
    text-align: center;
    width: 120px;
    height: 40px;
    background: url('/public/images/bg/bg-med.jpg');
    border-radius: 1px 1px 0px 0px;
}

#navigation ul li.active {
    background: url('/public/images/bg/bg-light.jpg');
    height: 50px;
    margin-top: -8px;
    padding-top: 8px;
}

#navigation ul li a {
    display: block;
    padding: 12px 5px;
    width:108px;
    text-align: center;
    font-size: 16px;
}


.index, .others, .photos {
    width: 100%;
}

.others-wrapper-left {
    width: 110px;
    float: right;
    padding: 10px;
}

.others-wrapper-left ul {
    width: 100%;
    margin-top: 30px;
}

.others-wrapper-left ul li {
    text-align: center;
    width: 120px;
    height: 40px;
    background: url('/public/images/bg/bg-med.jpg');
    border-radius: 5px 0px 0px 5px;
}

.others-wrapper-left ul li > a {
    display: block;
    padding: 12px 5px;
    width:108px;
    text-align: center;
    font-size: 16px;
}

.dashboard, .index-wrapper, .others-wrapper, .albums-wrapper {
    width: 1000px;
    float: left;
    min-height: 10px;
    background: url('/public/images/bg/bg-light.jpg') repeat;
}

.dashboard-wrapper {
    padding: 30px 20px;
}

.albums-wrapper ul {
    width: 100%;
    height: 170px;
    padding: 30px 30px 30px 10px;
    float: left;
}

.albums-wrapper ul li {
    float: left;
    width: 170px;
    height: 170px;
    margin-left: 20px;
    background: url('/public/images/bg/bg-dark.jpg');
}

.albums-wrapper ul li img {
    width: 150px;
    height: 150px;
    padding: 10px;
}

.photo-wrapper-right {
    width: 210px;
    float: right;
}

.sidebar-block {
    width: 170px;
    margin-top: 50px;
    padding: 20px;
    background: url('/public/images/bg/bg-med.jpg') repeat; 
    
}

.content {
    float: left;
    
}
