ul, div {
    margin: 0px;
    padding: 0px;
}
ul li {
   list-style: none;
}

a {
    text-decoration: none;
    color: #777;
}

a:hover, .active > a {
    color: #8f7c47;
}

body {
    margin: 0 auto;
    font-family: georgia;
    width: 100%;
    min-width: 1024px;
    color: #545454;
    font-size: 12px;
    background: url('/public/images/bg/bg-dark.jpg');
    border: 1px solid green;
}

#body-wrapper { 
    width: 100%;
}

/*header*/
#header {
    height: 200px;
    width: 1000px;
    margin: 0 auto;
    border: 1px solid red;
}


#main {
    width: 1000px;
    border: 1px;
    margin: 0 auto auto auto;
}

#main-wrapper {
    margin: 0 auto;
}


#navigation {
    float:right;width: 800px;
    margin-top:69px;
}

#navigation ul {
    
}



#navigation ul li {
    float: left;
    margin-right: 7px;
    text-align: center;
    width: 120px;
    height: 40px;
    background: url('/public/images/bg/bg-med.jpg');
}

#navigation ul li.active {
    background: url('/public/images/bg/bg-light.jpg');
    
}

#navigation ul li a {
    display: block;
    padding: 12px 5px;
    width:108px;
    text-align: center;
    font-size: 16px;
}